.container {
  max-width: 600px;
  margin: 0 auto;
  font-family: 'Varela Round', sans-serif;
  line-height: 1.5;
}

.header { font-size: 2em; }

.header,
.section-header { text-transform: uppercase; }

.contacts {
  display: flex;
  justify-content: space-between;
}

.contacts-link,
.education-list a {
  color: #000;
  text-decoration: none;
  transition: all .3s;
}

.contacts-link:hover,
.education-list a:hover { color: blue; }

.contacts-photo {
  height: 140px;
  border-radius: 50%;
}

ul { padding-left: 16px; }

li { margin-bottom: 6px; }

.experience-list span { font-weight: bold; }
